{% extends 'base.html.twig' %}

{# {% block javascripts %}
	<script src="{{ asset('js/cardShowImage.js') }}" defer></script>
{% endblock %} #}
{% block title %}
	Gringo Loco - Carte !
{% endblock %}


{% block body %}
	<div class="container">
		<div class="card--container">
			<div class="card--left">
				<div class="card--item card--item__title ">
					<h1>Drinks Menu
					</h1>
				</div>
				<div></div>
				<div class="card--item card--item__title">
					<h2>LOS SHOOTERS</h2>
				</div>

				{% for cocktail in cocktails %}
					{% if cocktail.category.id == 3 %}

						<div class="card--item">
							{% if cocktail.link %}
								<a href="{{path('app_view_articles', { slug: cocktail.link.slug})}}">
									{{cocktail.name}}
								{% else %}
									{{cocktail.name}}<br>
								{% endif %}

								{# {% include "components/_like.html.twig"%} #}

								<p>
									{% for ingredient in cocktail.ingredient %}
										{{ingredient}}
										{% if not loop.last %},
										{% endif %}
									{% endfor %}
								</p>
								<p>
									{% set j = cocktail.alcoolIndex %}
									{% for i in range (1, j) %}
										<img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool">
									{% endfor %}
								</p>
							</a>
						</div>
						<div class="card--item">
							<div class="card--item__price">
								{{cocktail.price}}€
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<div class="card--item"></div>
				<div class="card--item card--item__title">
					<h2>LOS SOFTS</h2>
				</div>
				{% for cocktail in cocktails %}
					{% if cocktail.category.id == 2 %}
						<div class="card--item">
							{% if cocktail.link %}
								<a href="{{path('app_view_articles', { slug: cocktail.link.slug})}}">{{cocktail.name}}</a>
							{% else %}
								{{cocktail.name}}<br>
							{% endif %}
							<p>
								{% for ingredient in cocktail.ingredient %}
									{{ingredient}}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
						</div>
						<div class="card--item">
							<div class="card--item__price">
								{{cocktail.price}}€
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<img src="{{asset('images/card/barrel.png')}}" alt=""><br>
			</div>
			<div class="card--right">
				<div class="card--item card--item__title">
					<h2>LOS CLASSICOS</h2>
				</div>

				{% for cocktail in cocktails %}
					{% if cocktail.category.id == 1 %}
						<div class="card--item cocktails">
							{% if cocktail.link %}
								<a href="{{path('app_view_articles', { slug: cocktail.link.slug})}}">{{cocktail.name}}<span>&#8599;</span>
								</a>
							{% else %}
								{{cocktail.name}}<br>
							{% endif %}
							<p>
								{% for ingredient in cocktail.ingredient %}
									{{ingredient}}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							<p>
								{% set k = cocktail.alcoolIndex %}
								{% for i in range (1, k) %}
									<img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool">
								{% endfor %}
							</p>
						</div>
						<div class="card--item">
							<div class="card--item__price">
								{{cocktail.price}}€
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
